.well-image {
    height: 160px;
    width: 100%;
}
.top-buffer {
    margin-top: 30px;
}
.modal-header {
    background-color: #F5F5F5;
}
.answer {
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #bbb;
}
.answer:hover{
    cursor: pointer;
}
.image-answer {
    cursor: pointer;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.image-answer img {
    width: 100%;
    height: auto;
}
.image-selected {
    border: 3px solid #56afdc;
}
.image-answer.bg-success{
    border: 3px solid #5ea640;
}
.image-answer.bg-danger{
    border: 3px solid #b74848;
}
.footer{
    margin-top: 50px;
    background-color: #9FB6C6;
    padding: 20px;
}